
@font-face {
  font-family: 'UTMSwissCondensed-Bold';
  src: url('UTMSwissCondensed-Bold.eot?#iefix') format('embedded-opentype'),  url('UTMSwissCondensed-Bold.woff') format('woff'), url('UTMSwissCondensed-Bold.ttf')  format('truetype'), url('UTMSwissCondensed-Bold.svg#UTMSwissCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
