/*Global*/
.pointer{ cursor: pointer} 
.txtPrice{ color:red}
/*Reset Bootstrap */
.head-home{
	background:#ECECEC;
	padding-top:0px;
}
.header {
	box-shadow: 0px 3px 5px #999;
	margin-bottom: 5px;
}
.container-fluid{ padding-left:inherit; padding-right:inherit; }
.container{padding:3px; }
.container > div{ padding:3px}
.container img{ max-width:100%}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{/* margin:inherit; */ }
 .panel{background:none; box-shadow:none; margin-bottom:inherit}
.panel-default{ border-color: rgba(221, 221, 221, 0.25);}
.nav-tabs{ border-bottom: #f8ed37}
.nav-tabs > li{  }
.nav-tabs > li a{ border-radius:0; margin-right:0; }
.tab-content > div{ padding:10px; margin-bottom:5px}
.thumbnail{ background:none; border:0}

.carousel-indicators li{ width:15px !important ; height:15px !important;  }

table{ max-width:100% !important; }
.carousel-control{background-image:none !important}    
.form-control{border-radius:0; box-shadow:none; width:100%}
.dropdown-submenu{z-index: 1001;}
/*End Reset Bootstrap */

.panel > span{
	display:table;
}

.contet-block{
	display:table;
	border: 1px solid #AEAEAE;
	width: 100%;
}
.contet-block:hover{
	border:1px solid #249EC5;
}
.p-category-home{
	background : #F4F4F4;
	border-right: 1px solid #AEAEAE;
	height:272px
}
.p-category-home img{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1.05);
}
.discountPrice2{
	font-size:10px;
}
.priceFormat2{
	font-size:10px;
	color:#FF0000 !important;
	font-weight:bold;
}
.priceFormat{
	color:#FF0000 !important;
}
.num-buy{
	float: right;
	font-size: 13px;
}

.group-product > .col-md-3 > .site{
	border-top: 1px solid #eaeaea;
	border-left: 1px solid #eaeaea;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 2px 2px 3px rgba(0,0,0,.1);
	box-shadow: 2px 2px 3px rgba(0,0,0,.1);
	display: grid;
	margin-bottom:20px;
}
.content-block-grid{

}
.content-block-grid:hover{

}
.tin-khuyen-mai h4{
	font-size:15px;
	font-weight:bold;
}
.list-news {
	padding-left:5px;
}
.list-news span{
	display:table;
}
.content-block-short-title{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.btn{
	padding: 6px 5px;
}
.img-class {
	
}
.list-product-home{
	height:155px;
}
.img-class img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	transition: transform .3s;
}
.img-class img:hover{
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.05);
}
.block-category{
	background:#FFF;
	border: 1px solid #DDD;
	padding: 10px 20px;
}
.block-category:hover{
	box-shadow:1px 1px 1px gray; /*CSS3 shadow: 30px blurred shadow all around image*/
    -webkit-box-shadow:1px 1px 1px #249EC5 ; /*Safari shadow version*/
    -moz-box-shadow:1px 1px 1px #249EC5 ; /*Mozilla shadow version*/
    opacity: 1;
}
.block-category-text{
    height: 100px;
    position: relative;
	padding-top: 35px;
	font-weight:bold;
}
.block-category-text a{
	color: #333;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.block-member{
	border: 0px solid #ddd;
	background:#fff;
	padding-top: 20px !important;
	margin-top:3px;
	height:490px;
}
.block-member > .list-inline{
	text-align:center;
}
.block-member ul li a{
	padding: 5px 10px;
	border : 1px solid #ddd;
	color: #249ec5;
	border-radius:5px;
}
.block-member ul li a:hover{
	border : 1px solid #249ec5;
	color: #fff;
	background:#249ec5;
	text-decoration: none !important;
} 
.list-group-item{
	border: 0px solid #ddd !important;
}
.category-home > .list-group-item > h5 > a{
	color:#333;
}
.category-home > .list-group-item > h5 > a:hover{
	font-weight:bold;
}
.reloadColor{
	margin: 13px 0 0 !important;
}
.promotion-fixed {
    position: fixed;
    bottom: 150px;
    right: 0px;
    z-index: 9999999;
}
.promotion-left {
    cursor: pointer;
    position: relative;
    background: rgba(255, 255, 255, 0.44);
    float: left;
    border: 1px solid rgba(189, 189, 189, 0.38);
    width: 250px;
    padding: 9px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.promotion-left:hover{
background: white;
}
.promotion-left:hover .icon-pr{
background-color: white;
}
p.title-pr {
text-align: center;
font-size: 13px;
color: #797979;
text-transform: uppercase;
font-weight: bold;
border-bottom: 1px solid gray;
padding-bottom: 4px;
margin: 7px 0px;
}
ul.list-promostion li p {
float: left;
width: 66%;
margin: 0px 0px 0px 6px;
font-size: 10px;
color: gray;
padding: 0px;
}
ul.list-promostion li img {
float: left;
width: 32%;
padding-right: 4px;
}
ul.list-promostion li {
list-style: none;
float: left;
margin: 0px;
margin-bottom: 5px;
font-size: 11px;
width: 100%;
text-align:center;
}
ul.list-promostion {
margin: 0px;
padding: 0px;
}
.img-link-item {
width: 100%;
}
ul.list-promostion li a:hover{
text-decoration: none;
}
ul.list-promostion li a {
text-decoration: none;
color: #ff0000;
}
ul.calender {
    margin: 0px;
    padding: 0px;
}
ul.calender li {
float: left;
width: 100%;
margin-bottom: 4px;
list-style: none;
display: block;
text-align:center;
}
ul.calender li a {
color: #ff0000;
text-decoration: none;
font-size: 16px;
}
/* Reset Layout*/
a{ color:#000}
.navbar-default{ text-transform: uppercase; background-color: inherit; margin-bottom :0; border: 0; height: inherit}
.navbar-default .navbar-nav>li>a, .navbar>.container .navbar-brand{ color: #249EC5; font-weight:bold;}
.navbar-default .navbar-nav > li > a:hover{background: #249EC5; color:#FFF;}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span{border-radius: 50%;    }	
.pagination .active a{ border:none }
.pagination .active a:hover{ color:#fff}
.pagination>li>a, .pagination>li>span{ color:inherit; border-radius: 50%; margin: 2px;  }
/* Reset Layout*/ 

/*Customize*/ 
.side-top {  color: #0170b1;    font-size: 14px; }
 
.group-list > div{padding-left:3px; padding-right:3px}
.group-list .thumbnail img{ width:100%}
.group-list .thumbnail .caption h3 a{ font-size: 16px}
.group-list .carousel-control{    width: 5%; background: none;} 

.side-footer{  padding:20px 0px; height:100% ;  line-height:25px }
.side-footer ul {list-style-type: disc;  padding-left: 40px;  display: block;    margin: 10px 0; padding:0}
.side-footer ul li{ list-style-position:inside;	}
.side-footer ul li{ list-style: none ; line-height:30px;}
.side-footer h3{margin: inherit;  text-transform: uppercase;    font-size: 18px;    padding-bottom: 10px; font-weight:bold;} 
    
.social-circle li a{  background:none !important; width: 30px;   height: 30px;     line-height: 25px; font-size: 13px;}
.social-network a.icoRss {	background-color: #F56505;}
.social-network a.icoFacebook {	background-color:#3B5998;}
.social-network a.icoTwitter {	background-color:#33ccff;}
.social-network a.icoGoogle {	background-color:#dd4b39;}
.social-network a.icoVimeo {	background-color:#0590B8;}
.social-network a.icoLinkedin {	background-color:#007bb7;}
.social-network a.icoPinterest {	background-color:#cb2027;}
.social-network a.icoInstagram {	background-color:#e95950;}
.social-network a.icoYoutube {	background-color:#bb0000;}
 
.copyright-txt{  margin: 15px auto; margin-bottom: 0;    padding: 5px 0px;}
 	
.nav .dropdown-menu{margin-top: 4px;}
.nav .dropdown-menu li a:focus, .dropdown-menu li a:hover{}
.nav .dropdown-menu li a{ color:#fff  }

.mfp-close{ background: #f58220 !important; width: 45px !important; text-align: center !important; color: #fff !important;	}
.mfp-arrow-right:before{border-left: 27px solid #FFC107 !important}
.mfp-arrow-left:before{border-right: 27px solid #FFC107 !important}

	/*Thinhpm task 3*/
.group-pannel{
	border-color: rgb(228, 228, 228);
	border-radius: 0;
}
.group-pannel .group-product .warrap-item{
	border :none;
	box-shadow: none;
	margin-bottom: 10px;
	margin-top: 15px;
}
.group-pannel .group-product .warrap-item .thumbnail a:hover img{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.group-pannel .group-product .warrap-item .thumbnail img{
	height: 200px;
	-webkit-transition: -webkit-transform .3s .1s;
    -moz-transition: -moz-transform .3s .1s;
    -o-transition: -o-transform .3s .1s;
    transition: -webkit-transform .3s .1s,-moz-transform .3s .1s,-o-transform .3s .1s,transform .3s .1s;
}
.group-pannel .group-product .warrap-item .title-main{
	-webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
}
.group-pannel .group-product .warrap-item .title-main:hover{
	color: #249EC5;
	text-decoration: none;
}
.group-pannel .group-product .warrap-item .caption-top{
	height: 36px;
	overflow: hidden;
	margin-bottom: 14px;
	text-align: left;
}
.group-pannel .group-product .warrap-item .caption-bottom{
	font-size: 13px;
	text-align: left;
}
.group-pannel .group-product .warrap-item .caption-bottom .priceFormat{
	color: #222 !important;

}

	/*End thinhpm task 3*/

/*Thinhpm task 2 fix css item category homepage*/
.panel{
	margin-bottom: 10px;
}
.p-category-home{
	height: 344px;
	border-right: 1px solid #ededed;
	min-width: 190px;
}
.p-category-home .warrap-category-left a{
	position: relative;
	display: block;
	padding: 15px 0 0 17px;
}
.p-category-home .warrap-category-left a:hover{
	text-decoration: unset;
}
.p-category-home .warrap-category-left a img{
	position: relative;
    top: 0;
    left: 0;
    transform: unset;
    display: block;
    width: 156px;
    height: 220px;
    margin-top: 16px;
    transition: transform .3s;
}
.p-category-home .warrap-category-left a img:hover{
	transform: scale(1.05);
}
.contet-block .item-a-hover:hover{
	color: #249EC5 !important;
	
}
.p-category-home .warrap-category-left .title{
	font-size: 18px;
	font-weight: bold;
	height: 25px;
	overflow: hidden;
}
.p-category-home .warrap-category-left .sub-title{
	font-size: 12px;
    color: #888;
}
.p-category-home .warrap-category-left .tagContainer{
	margin-top: 0px;
}
.p-category-home .warrap-category-left .tagContainer .tag{
    width: 156px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #249EC5;
	margin-top: 5px;
	margin-left: 17px;
}

.warrap-item-top .img-class img{
	position: relative;
    top: 0;
    left: 0;
    transform: unset;
    display: block;
    width: 105px;
    height: 136px;
    transition: transform .3s;
    margin: 0 auto;
    margin-top: 17px;
}
.warrap-item-top .img-class img:hover{
	transform: scale(1.05);
}
.contet-block a:hover{
	text-decoration: unset;
}
.list-product-home{
	height: unset;
}

.warrap-item-top .img-class .title{
	text-transform: uppercase;
}

.warrap-item-top .img-class .sub-title{
	font-size: 12px;
}
.pannel-item-bottom .warrap-item-bottom{
	overflow: hidden;
    padding: 17px 13px;
}
.pannel-item-bottom .warrap-item-bottom .item-tag{
	width: 24%;
    text-align: left;
    display: inline-block;
    font-size: 13px;
}
.pannel-item-bottom .warrap-item-bottom .item-tag a{
	width: 90%;
    display: block;
    overflow: hidden;
    margin-bottom: 4px;
    white-space: nowrap;
}
.pannel-item-top{
	border-bottom: 1px solid #ededed;
	margin: 0;
	height: 230px;
	overflow: hidden;
}
.pannel-item-top .row{
	margin: 0;
}
.contet-block{
	border: 1px solid #ededed;
}
.contet-block .content-block-grid{
	padding: 20px 0 0 0;
}

/* End Thinhpm task 2 fix css item category homepage*/

/*Thinhpm css category homepage*/
.list-group-item{
	position: initial !important;
}
.category-home-left{
	position: relative;
}
.home-show-item-category{
	position: absolute;
	top: 0;
	margin-top: 0 !important;
	width: 670px;
}
/*Thinhpm fix time 1*/
.main-category-item{
	margin-bottom: 30px;
}
.main-category-item .title-main-category{
	font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
.main-category-item .custom-md-5row{

}
/*End Thinhpm fix time 1*/

@media only screen and (min-width: 768px) {	
	.navbar{ min-height:inherit}
	.caption h5 {
		height:30px;
	}
	.navbar-default .navbar-nav>li:nth-child(1):after{content:"" }

	.nav .dropdown-menu{ min-width: 196px; border:1px; padding:0; margin-top:3px !important; /*  margin-left:25px */ } 
	.nav .dropdown-menu>li>a{ padding: 15px 20px; } 
	 	 
	.group-list .thumbnail img{  height: 180px }	 
 	 
	.group-list .carousel-indicators{ bottom:-35px;}
	.group-list .carousel-indicators li{ width:22px; height:22px; background-color: #fff; border: 1px solid #107be8}
	.group-list .carousel-indicators li.active{ width:22px; height:22px; background-color: #107be8}
	
	.navbar-form > .input-group  > div{  padding:0px 3px}

	.form-search,
	.view-cart{
		padding-top: 50px;
	}


}
@media only screen and (min-width: 992px)  and (max-width: 1199px)  {
	.contet-block .pannel-item{
		width: 282px;
	}
	.pannel-item-bottom{
		height: 88px;
		overflow: hidden;
	}
	.pannel-item-bottom .warrap-item-bottom .item-tag a{
		margin-bottom: 11px;
	}
	.pannel-item-bottom .warrap-item-bottom .item-tag{
		width: 32%;
	}
}
@media only screen and (min-width: 992px)  and (max-width: 1024px)  {

}
@media only screen and (min-width: 768px)  and (max-width: 991px)  {
	.p-category-home{
		min-width: 167px;
	    height: 288px;
	}
	.p-category-home .warrap-category-left a img{
		width: 117px;
    	height: 167px;
	}
	.p-category-home .warrap-category-left .tagContainer .tag{
		width: 61px;
    	height: 23px;
    	font-size: 11px;
	}
	.contet-block .pannel-item{
		padding-top: 2px;
    	width: 195px;
	}
	.pannel-item-top{
		height: 193px;
	}
	.pannel-item-bottom .warrap-item-bottom{
		height: 74px;
	}
	.warrap-item-top .img-class img{
		height: 100px;	
	}
	.pannel-item-bottom .warrap-item-bottom .item-tag{
		min-width: 62px;
	}
}

@media only screen and (min-width: 768px)  and (max-width: 768px) {
	.mm-listview, .mm-listview>li{ width:100%;  }
	
	.side-head > div > div span{font-size: 12px;}
	.side-head .logo, .side-slide{margin-top: inherit}
	
	.nav>li>a:before, .nav>li>a:after{ width:inherit}
 
} 

@media only screen and (min-width: 1024px){
	.main-category-item .custom-md-5row{
		width: 20%;
	}
}

@media only screen and (max-width: 768px) {
	.hidden-mobile{ display:none}
	
	/*.thumbnail img{ height:inherit !important}*/
	.navbar-toggle{ border:0}
	.navbar-toggle .icon-bar{background-color: #339933 !important;}
	.mm-vertical{   background-color:#339933 !important}
	.mm-vertical a{color:#fff !important; font-weight:bold} 
	.category-side{display:none}

	.navbar-brand{ display: block !important}
	.panel-body{padding:2px} 
	.side-top .container >div{ text-align: center; padding: 5px 0px}
	
	.navbar-form{ margin-left:inherit; margin-right:inherit}
	.content-block-short-title{
		overflow: inherit;
		text-overflow: inherit;
		white-space: inherit;
	}
	.p-category-home {
		background: #F4F4F4;
		border-right: 0px solid #AEAEAE;
		}
	
}
@media only screen and (max-width: 767px) {
	.thumbnail img{ height:inherit !important}
	
	.slick-next{
	    display:none !important;
	}
}
@media only screen and (max-width: 768px) {
	.contet-block .pannel-item{
		display: none;
	}
	.p-category-home{
		width: 100%;
	}
}

@media only screen and (max-width: 425px) {
	.contet-block .p-category-home{
		height: 273px;
		min-width: unset;
	}
	.p-category-home .warrap-category-left a{
		padding: 2px 0 0 6px;
	}
	.p-category-home .warrap-category-left a img{
	    height: 172px;
	    width: auto;
	}
	.p-category-home .warrap-category-left .tagContainer .tag{
	    width: 65px;
        font-size: 10px;
	}
	.panel-heading{
		min-height: 79px;
	}
}

.tagContainer a{
	margin: 0;
	padding: 0 !important;
	color: #fff;
	display: inline;
}

.tagContainer a:hover{
	color: #000;
}

.dropdown-menu li a:hover{
	color: #000;
}

.navbar-brand{
	font-size: 15px;
}

.btn-home {
	display: none;
}

@media only screen and (max-width: 767px) {
	.btn-home {
		margin-right: 15px;
		margin-top: -10px;
		width: 40px;
		float: left;
		display: inline-block;
	}
}